body{
background-image:url('2.JPG');
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
}
h1{
    color: black;
}
a{
    text-decoration: none;
    color: black"
}
nav{
    border: 2px solid black;
    background-color: darkred;
    width:100%;
    margin:0px;
    padding: 0px;
    height: 30px;
}
h2{
    color:black;
}
img{
    width: 200px;
    height: 180px;
}
footer{
    background-color: black;
    border: 0.5px gold solid;
}